.Backbtn {
    border: 2px solid #fa6f6f;
    border-radius: 30px;
    width: 50px;
    margin: 25px 0 0 25px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 7px 2px 2px 0;
    font-size: 17px;
    font-weight: 300;
    color: black;
  }
  
  .Backbtn:hover {
    background: #fa6f6f;
    transform: scale(1.1);
    transition: 25ms;
  }