.Images {
    width: 100%;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    opacity: 1;
  }
  
  .Images:hover {
    opacity: 0.5;
    background: black;
    transition: 0.35s;
    transform: scale(0.94);
  }